<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="english">
  <head>
    <title>Subnautica - addresses</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69f916e7c9.js" crossorigin="anonymous"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="img/fish.png">
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <div>
        <a class="navbar-header" href="/index">
          <img src="img/fish.png" width="50px" alt="logo">
        </a>
      </div>
      <a class="navbar-brand" href="/index">Subnautica</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="" role="button"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home <i class="fa-solid fa-house"></i></a>
          </li>
          <!--   DODAWANIE PRZYCISKOW DO NAV BARU    -->
        </ul>
        <div class="d-flex align-items-center">
          <!--   PRZYCISKI DO LOGOWANIA, REJESTRACJI, WHATNOT    -->
          <form th:action="@{/logout}" method="post">
            <button type="button" class="btn btn-link px-3 mr-2" style="color: antiquewhite">
              Log out <i class="fa-solid fa-right-from-bracket"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div id="box_table">
      <h1> Addresses </h1>
      <a href="/new">Enter new adress</a>
      <br/><br/>
      <table cellpadding = 10px>
        <!-- Table header -->
        <tr> <!-- Table row -->
          <th>Addr. nr</th> <!–- Table column -->
          <th>City</th>
          <th>Postal code</th>
          <th>Street name</th>
          <th>Building nr</th>
          <th>Appt. nr</th>
          <th>Action</th>
        </tr>
        <!-- Table body -->
        <tr th:each = "adres : ${listAdres}">
          <td th:text = "${adres.nr_adresu}">Numer adresu</td>
          <td th:text = "${adres.miejscowosc}">Miejscowosc</td>
          <td th:text = "${adres.kod_pocztowy}">Kod pocztowy</td>
          <td th:text = "${adres.ulica}">Ulica</td>
          <td th:text = "${adres.nr_budynku}">Nr budynku</td>
          <td th:text = "${adres.nr_lokalu}">Nr lokalu</td>
          <td>
            <a th:href="@{'/edit/' + ${adres.nr_adresu}}">Edit</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${adres.nr_adresu}}">Delete</a>
          </td>
        </tr>
      </table>
    </div>

    <ul class="circles" style="z-index: -10">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>