<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<p>Click <a th:href="@{/}">here</a> to see a start page</p>
<div align="center">
    <h1> Pracownicy </h1>
    <a href="/new_pracownik">Wprowadz nowego pracownika</a>
    <br/><br/>
    <!-- Table -->
    <table border = "1" cellpadding = "10"> <!-– border –
        obramowanie, cellpadding – rozmiar komórki -->
        <!-- Table header -->
        <thead>
        <tr> <!-- Table row -->
            <th>Nr pracownika</th> <!–- Table column -->
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Plec</th>
            <th>PESEL</th>
            <th>Nr telefonu</th>
            <th>Email</th>
            <th>Data urodzenia</th>
            <th>Wyksztalcenie</th>
            <th>Data zatrudnienia</th>
            <th>Nr konta</th>
            <th>Nr oceanarium</th>
            <th>Nr adresu</th>
            <th>Operacja</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each = "pracownik : ${listPracownik}">
            <td th:text = "${pracownik.nr_pracownika}">Nr pracownika</td>
            <td th:text = "${pracownik.imie}">Imie</td>
            <td th:text = "${pracownik.nazwisko}">Nazwisko</td>
            <td th:text = "${pracownik.plec}">Plec</td>
            <td th:text = "${pracownik.pesel}">PESEL</td>
            <td th:text = "${pracownik.nr_telefonu}">Nr telefonu</td>
            <td th:text = "${pracownik.email}">Email</td>
            <td th:text = "${pracownik.data_urodzenia}">Nr telefonu</td>
            <td th:text = "${pracownik.wyksztalcenie}">Wyksztalcenie</td>
            <td th:text = "${pracownik.data_zatrudnienia}">Data zatrudnienia</td>
            <td th:text = "${pracownik.nr_konta}">Nr konta</td>
            <td th:text = "${pracownik.nr_oceanarium}">Nr oceanarium</td>
            <td th:text = "${pracownik.nr_adresu}">Nr adresu</td>

            <td>
                <a th:href="@{'/edit_pracownik/' + ${pracownik.nr_pracownika}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete_pracownik/' + ${pracownik.nr_pracownika}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>