<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="english">
<head>
    <title>Subnautica - employees</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69f916e7c9.js" crossorigin="anonymous"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="img/fish.png">
</head>

<body>
<nav class="navbar navbar-expand-md">
    <div>
        <a class="navbar-header" href="/index">
            <img src="img/fish.png" width="50px" alt="logo">
        </a>
    </div>
    <a class="navbar-brand" href="/index">Subnautica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="" role="button"><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <i class="fa-solid fa-house"></i></a>
            </li>
            <!--   DODAWANIE PRZYCISKOW DO NAV BARU    -->
        </ul>
        <div class="d-flex align-items-center">
            <!--   PRZYCISKI DO LOGOWANIA, REJESTRACJI, WHATNOT    -->
            <form th:action="@{/logout}" method="post">
                <button type="button" class="btn btn-link px-3 mr-2" style="color: antiquewhite">
                    Log out <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
<div id="box_table">
    <h1> Employees </h1>
    <a href="/new_pracownik">Enter new employee information</a>
    <br/><br/>
    <!-- Table -->
    <table cellpadding = "10">
        <!-- Table header -->
        <tr> <!-- Table row -->
            <th>Employee nr</th> <!–- Table column -->
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>PESEL</th>
            <th>Phone nr</th>
            <th>E-mail address</th>
            <th>Birthdate</th>
            <th>Education</th>
            <th>Employment date</th>
            <th>Bank account nr</th>
            <th>Aquarium nr</th>
            <th>Addr. nr</th>
            <th>Actions</th>
        </tr>
        <!-- Table body -->
        <tr th:each = "pracownik : ${listPracownik}">
            <td th:text = "${pracownik.nr_pracownika}">Nr pracownika</td>
            <td th:text = "${pracownik.imie}">Imie</td>
            <td th:text = "${pracownik.nazwisko}">Nazwisko</td>
            <td th:text = "${pracownik.plec}">Plec</td>
            <td th:text = "${pracownik.pesel}">PESEL</td>
            <td th:text = "${pracownik.nr_telefonu}">Nr telefonu</td>
            <td th:text = "${pracownik.email}">Email</td>
            <td th:text = "${pracownik.data_urodzenia}">Nr telefonu</td>
            <td th:text = "${pracownik.wyksztalcenie}">Wyksztalcenie</td>
            <td th:text = "${pracownik.data_zatrudnienia}">Data zatrudnienia</td>
            <td th:text = "${pracownik.nr_konta}">Nr konta</td>
            <td th:text = "${pracownik.nr_oceanarium}">Nr oceanarium</td>
            <td th:text = "${pracownik.nr_adresu}">Nr adresu</td>

            <td>
                <a th:href="@{'/edit_pracownik/' + ${pracownik.nr_pracownika}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete_pracownik/' + ${pracownik.nr_pracownika}}">Delete</a>
            </td>
        </tr>
    </table>
</div>

<ul class="circles" style="z-index: -10">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>