<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<p>Click <a th:href="@{/}">here</a> to see a start page</p>
<div align="center">
    <h1> Klienci </h1>
    <a href="/new_klient">Enter new klient</a>
    <br/><br/>
    <!-- Table -->
    <table border = "1" cellpadding = "10"> <!-– border –
        obramowanie, cellpadding – rozmiar komórki -->
        <!-- Table header -->
        <thead>
        <tr> <!-- Table row -->
            <th>Nr klienta</th> <!–- Table column -->
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Plec</th>
            <th>Nr_telefonu</th>
            <th>Email</th>
            <th>Rodzaj dokumentu</th>
            <th>Numer dokumentu</th>
            <th>Nr oceanarium</th>
            <th>Operacje</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each = "klient : ${listKlient}">
            <td th:text = "${klient.nr_klienta}">Numer klienta</td>
            <td th:text = "${klient.imie}">Imie</td>
            <td th:text = "${klient.nazwisko}">Nazwisko</td>
            <td th:text = "${klient.plec}">Plec</td>
            <td th:text = "${klient.nr_telefonu}">nr telefonu</td>
            <td th:text = "${klient.email}">email</td>
            <td th:text = "${klient.rodzaj_dokumentu}">rodzaj dokumentu</td>
            <td th:text = "${klient.numer_dokumentu}">numer dokumentu</td>
            <td th:text = "${klient.nr_oceanarium}">nr oceanarium</td>
            <td>
                <a th:href="@{'/edit_klient/' + ${klient.nr_klienta}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete_klient/' + ${klient.nr_klienta}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>