<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="english">
    <head>
        <title>Subnautica - clients</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/69f916e7c9.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/script.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="img/fish.png">
    </head>

    <body>
    <nav class="navbar navbar-expand-md">
        <div>
            <a class="navbar-header" href="/main">
                <img src="img/fish.png" width="50px" alt="logo">
            </a>
        </div>
        <a class="navbar-brand" href="/main">Subnautica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="" role="button"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/main">Home <i class="fa-solid fa-house"></i></a>
                </li>
                <!--   DODAWANIE PRZYCISKOW DO NAV BARU    -->
                <li>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tables <i class="fa-solid fa-table"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/index_adres">Addresses</a>
                            <a class="dropdown-item" href="/index_klient">Clients</a>
                            <a class="dropdown-item" href="index_oceanarium">Aquariums</a>
                            <a class="dropdown-item" href="/index_pracownik">Employees</a>
                            <a class="dropdown-item" href="/index_wlasciciel">Owners</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                You are logged as admin
                <!--   PRZYCISKI DO LOGOWANIA, REJESTRACJI, WHATNOT    -->
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link px-3 mr-2" style="color: antiquewhite">
                        Log out <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div id="box_table">
        <h1> Clients </h1>
        <a href="/new_klient">Enter new client information</a>
        <br/><br/>
        <!-- Table -->
        <table cellpadding = "10">
            <!-- Table header -->
            <tr> <!-- Table row -->
                <th>Client nr</th> <!–- Table column -->
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Phone nr</th>
                <th>E-mail address</th>
                <th>Type of document</th>
                <th>Document nr</th>
                <th>Aquarium nr</th>
                <th>Actions</th>
            </tr>
            <!-- Table body -->
            <tr th:each = "klient : ${listKlient}">
                <td th:text = "${klient.nr_klienta}">Numer klienta</td>
                <td th:text = "${klient.imie}">Imie</td>
                <td th:text = "${klient.nazwisko}">Nazwisko</td>
                <td th:text = "${klient.plec}">Plec</td>
                <td th:text = "${klient.nr_telefonu}">nr telefonu</td>
                <td th:text = "${klient.email}">email</td>
                <td th:text = "${klient.rodzaj_dokumentu}">rodzaj dokumentu</td>
                <td th:text = "${klient.numer_dokumentu}">numer dokumentu</td>
                <td th:text = "${klient.nr_oceanarium}">nr oceanarium</td>
                <td>
                    <a th:href="@{'/edit_klient/' + ${klient.nr_klienta}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete_klient/' + ${klient.nr_klienta}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>

    <ul class="circles" style="z-index: -10">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </body>
</html>