<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Click <a th:href="@{/main}">here</a> to see a Main Page.</p>

<div align="center">
  <h1> Adresy </h1>
  <a href="/new">Enter new adress</a>
  <br/><br/>
  <!-- Table -->
  <table border = "1" cellpadding = "10"> <!-– border –
    obramowanie, cellpadding – rozmiar komórki -->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
      <th>Nr adresu</th> <!–- Table column -->
      <th>Miejscowosc</th>
      <th>Kod pocztowy</th>
      <th>Ulica</th>
      <th>Nr budynku</th>
      <th>Nr lokalu</th>
      <th>Operacja</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr th:each = "adres : ${listAdres}">
      <td th:text = "${adres.nr_adresu}">Numer adresu</td>
      <td th:text = "${adres.miejscowosc}">Miejscowosc</td>
      <td th:text = "${adres.kod_pocztowy}">Kod pocztowy</td>
      <td th:text = "${adres.ulica}">Ulica</td>
      <td th:text = "${adres.nr_budynku}">Nr budynku</td>
      <td th:text = "${adres.nr_lokalu}">Nr lokalu</td>
      <td>
        <a th:href="@{'/edit/' + ${adres.nr_adresu}}">Edit</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{'/delete/' + ${adres.nr_adresu}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>