<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Subnautica - login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/69f916e7c9.js" crossorigin="anonymous"></script>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="../static/img/fish.png">
    </head>

    <body>
    <nav class="navbar navbar-expand-md">
        <div>
            <a class="navbar-header" href="/index">
                <img src="../static/img/fish.png" width="50px" alt="logo">
            </a>
        </div>
        <a class="navbar-brand" href="/index">Subnautica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="" role="button"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <i class="fa-solid fa-house"></i></a>
                </li>
                <!--   DODAWANIE PRZYCISKOW DO NAV BARU    -->
            </ul>
            <div class="d-flex align-items-center">
                <!--   PRZYCISKI DO LOGOWANIA, REJESTRACJI, WHATNOT    -->
                <button type="button" class="btn btn-link px-3 mr-2" style="color: antiquewhite">
                    Log in <i class="fa-solid fa-right-to-bracket"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 mr-2" style="color: antiquewhite">
                    Register <i class="fa-solid fa-user-plus"></i>
                </button>
            </div>
        </div>
    </nav>

    <div id="box_form">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form id="form_login" th:action="@{/login}" method="post">
            <div><label><input type="text" name="username" placeholder="Username"/></label></div>
            <div><label><input type="password" name="password" placeholder="Password"/></label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>

    <ul class="circles" style="z-index: -10">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </body>
</html>