<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="english">
<head>
    <title>Subnautica - new aquarium</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69f916e7c9.js" crossorigin="anonymous"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="img/fish.png">
</head>

<body>
<nav class="navbar navbar-expand-md">
    <div>
        <a class="navbar-header" href="/index">
            <img src="img/fish.png" width="50px" alt="logo">
        </a>
    </div>
    <a class="navbar-brand" href="/index">Subnautica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="" role="button"><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <i class="fa-solid fa-house"></i></a>
            </li>
            <!--   DODAWANIE PRZYCISKOW DO NAV BARU    -->
        </ul>
        <div class="d-flex align-items-center">
            <!--   PRZYCISKI DO LOGOWANIA, REJESTRACJI, WHATNOT    -->
            <form th:action="@{/logout}" method="post">
                <button type="button" class="btn btn-link px-3 mr-2" style="color: antiquewhite">
                    Log out <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
<div id="box_table">
    <h1>Enter new aquarium information</h1>

    <form action="#" th:action="@{/save_oceanarium}" th:object="${oceanarium}" method="post">
        <table cellpadding="10px">
            <th>
                Name
            </th>
            <th>
                Input
            </th>
            <tr>
                <td>
                    Aquarium name:
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{nazwa}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Establishment date:
                </td>
                <td>
                    <label>
                        <input type="date" th:field="*{data_zalozenia}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Working hours:
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{godziny_otwarcia}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Address number:
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{nr_adresu}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Owner number:
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{nr_wlasciciela}">
                    </label>
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>

<ul class="circles" style="z-index: -10">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>