<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Nowy adres</title>
</head>
<body>
<div align="center">
    <h1>Wprowadz nowy adres</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${adres}" method="post">
        <table border = "1" cellpadding="10">

            <tr>
                <td>Adres: miejscowosc</td>
                <td><input type="text" th:field="+{miejscowosc}"></td>
            </tr>
            <tr>
                <td>Adres: kod pocztowy</td>
                <td><input type="text" th:field="+{kod_pocztowy}"></td>
            </tr>
            <tr>
                <td>Adres: ulica</td>
                <td><input type="text" th:field="+{ulica}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>


        </table>
    </form>
</div>
</body>
</html>